.forgot-pwd{
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding-left: 0px;
}
form {
  font-size: 20px;
}

input {
  height: 50px;
  width: 80%;
  margin: auto;
}

.login-form {
  width: 40%;
  margin: auto;
  padding: 50px 20px 10px 10px;
  border-radius: 10%;
  background-color: rgb(200, 201, 199);
}
