<div *ngIf="movieTheatre.theatre.title === 'Theatre1'">
  <div class="screen">
    SCREEN
  </div>
  <div class="grid-container">
    <div  *ngFor="let seat of seatResponse;let myIndex = index">
      <span
      *ngIf="leftSeats.includes(myIndex) || rightSeats.includes(myIndex)"
      style="font-weight:bold;margin:20px;"
      >
      {{ leftSeats.includes(myIndex)?alphabet[leftSeats.indexOf(myIndex)]:alphabet[rightSeats.indexOf(myIndex)] }}
    </span>
      <button
          class="grid-item"
          [disabled]="disabled.includes(myIndex)"
          [hidden]="disabled.includes(myIndex)"
          *ngIf="!leftSeats.includes(myIndex) && !rightSeats.includes(myIndex)"
      >
      <span
        class="material-symbols-outlined"
        style="color:aquamarine;"
        [style.color]="(myIndex < 92)?'red':(myIndex < 184)?'blue':'orange'"
        [ngStyle]="{'background':'url('+checkImage+') no-repeat center center','background-size': '80% 80%'}"
      >
          chair
    </span>

      </button>
    </div>
  </div>
</div>

<div *ngIf="movieTheatre.theatre.title === 'Theatre2'">
    <app-theatre3></app-theatre3></div>

<div *ngIf="movieTheatre.theatre.title === 'Theatre3'">
      <app-theatre4></app-theatre4></div>
