.grid-container {
  margin: auto;
  width: 100%;
  display: grid;
  /* column-gap: 50px; */
  grid-template-columns: repeat(23,auto);
  background-color: #fcfcfc;
  /* transform: rotateY(-40deg); */
  /* padding: 10px; */
  margin-bottom: 100px;
}
.grid-item {

  margin-right: -10px;
  padding: 0px;
  background-color: unset;
  border: 0px;
  /* background-color: green; */
  /* transform: rotate(-180deg); */
  }
.screen {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  width: 100%;
  height: 200px;
  background-color: rgb(117, 115, 115);
  border: 20px solid rgb(49, 48, 48);
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding: 40px 0;
  color: white;
}
.overlay {
  position: relative;
  top:45px;
  font-size: 70px;
  font-weight: bold;
}


