<div class="container-lg">
  <div class="movie-button">
    <button type="button" class="btn btn-outline-primary btn-lg">Now Showing</button>
    <button type="button" class="btn btn-outline-secondary btn-lg">Comming Soon</button>
  </div>
  <div>
    <ngb-carousel
      #carousel
      [interval]="7000"
      [pauseOnHover]="pauseOnHover"
      [pauseOnFocus]="pauseOnFocus"
      (slide)="onSlide($event)"
    >
      <ng-template ngbSlide *ngFor="let img of images; index as i">
        <div class="carousel-caption">
          <h3>My slide {{i + 1}} title</h3>
        </div>
        <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
          <div class="movies-list">
            <!-- <img [src]="img" alt="My image {{i + 1}} description" /> -->

            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://img.ticketnew.com/tn/movie/27418/7.jpg?v63687047312303&x-oss-process=image/resize,m_mfit,w_330,h_400/quality,q_80" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <div>
                <button id="book-button">Book</button>
              </div>
            </div>

            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://img.ticketnew.com/tn/movie/27438/7.jpg?868419&x-oss-process=image/resize,m_mfit,w_330,h_400/quality,q_80" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <div>
                <button id="book-button">Book</button>
              </div>
            </div>

            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://img.ticketnew.com/tn/movie/27476/7.jpg?5024632&x-oss-process=image/resize,m_mfit,w_330,h_400/quality,q_80" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <div>
                <button id="book-button">Book</button>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://img.ticketnew.com/tn/movie/27490/7.jpg?1018495&x-oss-process=image/resize,m_mfit,w_330,h_400/quality,q_80" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <div>
                <button id="book-button">Book</button>
              </div>
            </div>

          </div>
        </a>
      </ng-template>
    </ngb-carousel>
  </div>
</div>

