<div class="screen">
  SCREEN
</div>
<div id="page-wrap">
  <div class="badge" *ngFor="let rowSeats of seatArrays;let arrIndex = index;">
    <h1>
        <span class="char{{ i+1 }}" *ngFor="let seat of rowSeats;let i = index">
          <span *ngIf="leftSeats.includes(seats.indexOf(seat)) || rightSeats.includes(seats.indexOf(seat))">
            {{ leftSeats.includes(seats.indexOf(seat))?alphabet[leftSeats.indexOf(seats.indexOf(seat))]:alphabet[rightSeats.indexOf(seats.indexOf(seat))] }}
          </span>
          <button
          *ngIf="!leftSeats.includes(seats.indexOf(seat)) && !rightSeats.includes(seats.indexOf(seat)) && !disabled.includes(seats.indexOf(seat))"
          class="seat-button"
          >
            <img src=".././assets/chair.png" width="20px">
          </button>

        </span>
    </h1>
  </div>
</div>
