<div>
  <ul class="header">
    <li class="logo">
     <img src="../../assets/logo.png"  alt="no logo">
    </li>
    <li class="nav-items">
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">HOME</a>
    </li>
    <li class="nav-items">
      <a routerLink="/movies" routerLinkActive="active" ariaCurrentWhenActive="page">MOVIES</a>
    </li>
    <li class="search">
      <input type="text" class="search-input">
      <button id="search-button" type="button">
        <i class="bi bi-search"></i>
      </button>
    </li>
    <li>
      <div ngbDropdown>
        <button ngbDropdownToggle class="dropdown-button" id="dropdownMenuButton1" aria-expanded="false">
          <i class="bi bi-person-vcard"></i>
        </button>
        <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1" class="menu-dropdown">
          <li>
            <a ngbDropdownItem  (click)="openVerticallyCentered(content)" *ngIf="!isAuthenticated">
              Login/Signup</a>
              <a ngbDropdownItem  (click)="toggleAuthenticate()" *ngIf="isAuthenticated">
                Logout</a>
          </li>
        </ul>
      </div>
    </li>

  </ul>
</div>
<ng-template #content1 let-modal>
	<div class="modal-header" style="background-color: rgb(27, 35, 78);color:aliceblue;">
		<h1 class="modal-title" style="font-size: 50px;font-weight:bold;width:55%;text-align:right;">LOGIN</h1>
		<button type="button" class="btn-close btn-close-white" style="font-size: 50px;" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body" style="height: 250px;">
		<form class="form-fields">
      <div class="form-group row" style="margin: 10px auto 20px auto">
        <label for="inputEmail3" class="col-sm-3 col-form-label form-label">Email</label>
        <div class="col-sm-9">
          <input type="email" class="form-control form-input"  id="inputEmail3" placeholder="Email">
        </div>
      </div>
      <div class="form-group row" style="margin: 10px auto 20px auto">
        <label for="inputPassword3" class="col-sm-3 col-form-label form-label">Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control form-input" id="inputPassword3" placeholder="Password">
        </div>
      </div>
    </form>
	</div>
	<div class="modal-footer" style="display: contents;font-size:40px;">
		<button type="submit" class="btn btn-primary" (click)="toggleAuthenticate()" style="font-weight: bold;font-size:40px;">Login</button>
    <ul class="forgot-pwd">
      <li><a href="">Forgot Password ?</a></li>
      <li>Don't have an account? <a href="#" (click)="openNextModel(content)">Sign Up</a></li>
    </ul>
	</div>
</ng-template>

<ng-template #content let-modal>
	<div class="modal-header" style="background-color: rgb(27, 35, 78);color:aliceblue;">
		<h1 class="modal-title" style="font-size: 50px;font-weight:bold;width:55%;text-align:right;">REGISTER</h1>
		<button type="button" class="btn-close btn-close-white" style="font-size: 50px;" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body" style="height: auto;">
		<form class="form-fields">
      <div class="form-group row" style="margin: 10px auto 20px auto">
        <label for="inputEmail3" class="col-sm-3 col-form-label form-label">Full Name</label>
        <div class="col-sm-9">
          <input type="email" class="form-control form-input"  id="inputEmail3" placeholder="Email">
        </div>
      </div>
      <div class="form-group row" style="margin: 10px auto 20px auto">
        <label for="inputEmail3" class="col-sm-3 col-form-label form-label">Email</label>
        <div class="col-sm-9">
          <input type="email" class="form-control form-input"  id="inputEmail3" placeholder="Email">
        </div>
      </div>
      <div class="form-group row" style="margin: 10px auto 20px auto">
        <label for="inputEmail3" class="col-sm-3 col-form-label form-label">Contact</label>
        <div class="col-sm-9">
          <input type="email" class="form-control form-input"  id="inputEmail3" placeholder="Email">
        </div>
      </div>
      <div class="form-group row" style="margin: 10px auto 20px auto">
        <label for="inputPassword3" class="col-sm-3 col-form-label form-label">Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control form-input" id="inputPassword3" placeholder="Password">
        </div>
      </div>
      <div class="form-group row" style="margin: 10px auto 20px auto">
        <label for="inputPassword3" class="col-sm-3 col-form-label form-label">Confirm Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control form-input" id="inputPassword3" placeholder="Password">
        </div>
      </div>
      <div class="form-group row" style="margin: 10px auto 20px auto">
        <label for="inputPassword3" class="col-sm-3 col-form-label form-label">Address</label>
        <div class="col-sm-9">
          <input type="password" class="form-control form-input" id="inputPassword3" placeholder="Password">
        </div>
      </div>
    </form>
	</div>
	<div class="modal-footer" style="display: contents;font-size:40px;">
		<button type="submit" class="btn btn-primary" (click)="modal.close('Close click')" style="font-weight: bold;font-size:40px;">Sign Up</button>
    <ul class="forgot-pwd">
      <li><a href="">Forgot Password ?</a></li>
      <li>Already have an account? <a (click)="openNextModel(content1)" href="#">Login</a></li>
    </ul>
	</div>
</ng-template>

