<div>
  <div class="alert alert-{{ alertType }}" role="alert" *ngIf="hasAlert">
    {{ message }}
  </div>
  <button type="button"
  class="btn btn-outline-success pull-right"
  style="font-size: 30px;font-weight:bold;margin-bottom:20px;"
  (click)="openVerticallyCentered(userAdd)"
  >
  <i class="bi bi-plus-lg"></i> ADD USER</button>
</div>
<table class="table table-striped" style="font-size: 30px;">
  <thead>
    <tr>
      <!-- fullName: string,
      email: string,
      username: string,
      contact: string,
      role: string,
      status: string
    } -->
      <th scope="col">#</th>
      <th scope="col">Full Name</th>
      <th scope="col">Email</th>
      <th scope="col">Username</th>
      <th scope="col">Role</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users;let i = index">
      <th scope="row">{{ i+1 }}</th>
      <td>{{ user.fullName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.role }}</td>
      <td>{{ user.status }}</td>
      <td>
        <a style="margin:20px;color:green"><i class="bi bi-pencil-square" ></i></a>
        <a style="margin:20px;color:green" ><i class="bi bi-eye"></i></a>
      </td>
    </tr>
  </tbody>
</table>

<!-- add user modal form -->
<ng-template #userAdd let-modal>
	<div class="modal-header" style="background-color: rgb(27, 35, 78);color:aliceblue;">
		<h1 class="modal-title" style="font-size: 50px;font-weight:bold;width:55%;text-align:right;">Add New Users</h1>
		<button type="button" class="btn-close btn-close-white" style="font-size: 50px;" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body" style="height: auto;">
		<form class="form-fields" [formGroup]="userAddForm" (ngSubmit)="addUser()">
      <div class="form-group row" style="margin: 10px auto 20px auto">
        <label for="fullName" class="col-sm-3 col-form-label form-label">FullName</label>
        <div class="col-sm-9">
          <input type="text" class="form-control form-input" formControlName="fullName" id="fullName" placeholder="fullName">
        </div>
      </div>

      <div class="form-group row" style="margin: 10px auto 20px auto">
        <label for="email" class="col-sm-3 col-form-label form-label">Email</label>
        <div class="col-sm-9">
          <input type="email" class="form-control form-input" formControlName="email" id="email" placeholder="email">
        </div>
      </div>



      <div class="form-group row" style="margin: 10px auto 20px auto">
        <label for="username" class="col-sm-3 col-form-label form-label">Username</label>
        <div class="col-sm-9">
          <input type="text" class="form-control form-input" formControlName="username" id="username" placeholder="username">
        </div>
      </div>

      <div class="form-group row" style="margin: 10px auto 20px auto">
        <label for="contact" class="col-sm-3 col-form-label form-label">Contact</label>
        <div class="col-sm-9">
          <input type="text" style="font-size:50px;" class="form-control form-input" formControlName="contact" id="contact" placeholder="contact">
        </div>
      </div>

      <div class="form-group row" style="margin: 10px auto 20px auto">
        <label for="password" class="col-sm-3 col-form-label form-label">Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control form-input" id="password" formControlName="password" placeholder="password">
        </div>
      </div>

      <div class="form-group row" style="margin: 10px auto 20px auto">
        <label for="password" class="col-sm-3 col-form-label form-label">Select Role</label>
        <div class="col-sm-9">
         <select  class="form-control form-input" id="role" formControlName="role" placeholder="role">
            <option value="ADMIN">ADMIN</option>
            <option value="USER">USER</option>
          </select>
        </div>
      </div>

      <div class="form-group row" style="margin: 10px auto 20px auto">
        <button type="submit" class="btn btn-primary"  style="font-weight: bold;font-size:40px;">Submit</button>
      </div>
    </form>
	</div>
</ng-template>


<!-- update movie modal form -->
<ng-template #movieUpdate let-modal>
	<div class="modal-header" style="background-color: rgb(27, 35, 78);color:aliceblue;">
		<h1 class="modal-title" style="font-size: 50px;font-weight:bold;width:55%;text-align:right;">Update Movie</h1>
		<button type="button" class="btn-close btn-close-white" style="font-size: 50px;" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body" style="height: auto;">
		<form class="form-fields">
      <div class="form-group row" style="margin: 10px auto 20px auto">
        <label for="inputTilte" class="col-sm-3 col-form-label form-label">Title</label>
        <div class="col-sm-9">
          <input type="text" class="form-control form-input" formControlName="title" id="inputTilte" placeholder="title">
        </div>
      </div>

      <div class="form-group row" style="margin: 10px auto 20px auto">
        <label for="inputImage" class="col-sm-3 col-form-label form-label">Upload Image</label>
        <div class="col-sm-9">
          <input type="file" class="form-control form-input"  formControlName="image" id="inputImage" placeholder="file">
        </div>
      </div>

      <div class="form-group row" style="margin: 10px auto 20px auto">
        <label for="inputDesc" class="col-sm-3 col-form-label form-label">Description</label>
        <div class="col-sm-9">
          <textarea class="form-control form-input" formControlName="description" id="inputDesc">
          </textarea>
        </div>
      </div>

      <div class="form-group row" style="margin: 10px auto 20px auto">
        <label for="inputReleaseDate" class="col-sm-3 col-form-label form-label">Release Date</label>
        <div class="col-sm-9">
          <input type="date" style="font-size:50px;" class="form-control form-input" formControlName="releaseDate" id="inputReleaseDate" placeholder="description">
        </div>
      </div>

      <div class="form-group row" style="margin: 10px auto 20px auto">
        <label for="password" class="col-sm-3 col-form-label form-label">Password</label>
        <div class="col-sm-9">
          <input type="text" class="form-control form-input" id="password" formControlName="password" placeholder="password">
        </div>
      </div>

      <div class="form-group row" style="margin: 10px auto 20px auto">
        <label for="password" class="col-sm-3 col-form-label form-label">Select Role</label>
        <div class="col-sm-9">
         <select  class="form-control form-input" id="role" formControlName="role" placeholder="role">
            <option value="ADMIN">ADMIN</option>
            <option value="USER">USER</option>
          </select>
        </div>
      </div>
      <div class="form-group row" style="margin: 10px auto 20px auto">
        <button type="submit" class="btn btn-primary"  style="font-weight: bold;font-size:40px;">Update</button>
      </div>
    </form>
	</div>
</ng-template>
