.seat-row {
  display:flex;flex-direction:row;justify-content:space-between;font-size:50px;margin:auto;
}
.seat-button {

  margin-right: -10px;
  padding: 0px;
  background-color: unset;
  border: 0px;
  /* background-color: green; */
  /* transform: rotate(-180deg); */
  }
.screen {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  width: 30%;
  height: 200px;
  background-color: rgb(117, 115, 115);
  border: 20px solid rgb(49, 48, 48);
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding: 40px 0;
  color: white;
}
