<table class="table table-striped" style="font-size:30px;">
  <thead>
    <th>#</th>
    <th>Show Shift</th>
    <th>Start Time</th>
    <th>Start Date</th>
    <th>Movie Name</th>
    <th>Theatre</th>
    <th>Action</th>
  </thead>
  <tbody>
    <tr *ngFor="let show of shows;let i = index;">
      <td>{{ i + 1 }}</td>
      <td>{{ show.shift }}</td>
      <td>
        <a routerLink="/theatre/{{ show.id }}">{{ show.startTime }}</a>
      </td>
      <td>{{ show.startDate }}</td>
      <td>{{ show.movie.movieTitle }}</td>
      <td>{{ show.theatre.title }}</td>
      <td>Add</td>
    </tr>
  </tbody>
</table>
