<div style="display:flex;flex-direction:row;">
  <div style="width: 10%;display:flex;justify-content:end">
    <a class="arrow" routerLink="/movie-details"><i class="bi bi-arrow-left-circle" style="color:rgb(16, 17, 17)"></i></a>
  </div>
  <div style="width: 80%;">
    <div class="card show-card">
      <div class="card" *ngFor="let responses of showResponse">
        <tr style="border-spacing: 100px;">
          <td>
            <span style="font-weight:bold;">{{ responses.theatre.title }} Shift : {{ responses.shift }}</span><br>
            <p>{{ responses.startDate }}</p>
          </td>
          <td>
            <!-- <button type="button" routerLink="/theatre/{{responses.id}}" (click)="activateShow(responses)" class="btn btn-outline-success" style="width: 200px;border-radius:0px;height:70px;"> {{  responses.startTime }} </button> -->
            <button type="button" (click)="open(content,responses)"  class="btn btn-outline-success" style="width: 200px;border-radius:0px;height:70px;"> {{  responses.startTime }} </button>
          </td>
        </tr>
      </div>
    </div>
  </div>

</div>
<ng-template #content let-modal>
    <div class="modal-header custom-header">
      <h1  id="modal-basic-title" style="text-align:center;font-weight:bold;">Choose Seats</h1>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body custom-body">
      <button
        *ngFor="let seat of seatSelection"
        (click)="setReservedSeats(seat)"
        [ngStyle]="{'background-color':(reservedSeats==seat)?'#12193d':''}"
      >
      {{ seat }}
      </button>
    </div>
    <div class="modal-footer">
         <button
            type="button"
            routerLink="/theatre/{{choosenShow.id}}"
            (click)="activateShow(choosenShow)"
            class="btn btn-outline-success"
            style="width:200px;border-radius:0px;height:70px;font-size:30px;font-weight:bold;"
         >
           Continue
        </button>
    </div>
</ng-template>


