<div>
  <ngb-carousel
	#carousel
	[interval]="2000"
	[pauseOnHover]="pauseOnHover"
	[pauseOnFocus]="pauseOnFocus"
	(slide)="onSlide($event)"
  class="banner"
>
    <ng-template ngbSlide *ngFor="let movie of trendingMovies; index as i">
      <div class="carousel-caption">
        <h3>{{ movie.title }}</h3>
      </div>
      <a routerLink="/movie-details" target="_blank" rel="nofollow noopener noreferrer">
        <div class="picsum-img-wrapper">
          <img src="{{'data:image/jpg;base64,' + movie.bannerImage}}" alt="" height="450px" width="100%" />
        </div>
      </a>
    </ng-template>
  </ngb-carousel>
</div>

