<div class="footer">
  <div class="footer-content">
    <p class="footer-title">CONTACT US</p>
    <div class="footer-text">
      <tr>
        <td><i class="bi bi-telephone"></i></td>
        <td>(+098) 999999999</td>
      </tr>
      <tr>
        <td><i class="bi bi-envelope"></i></td>
        <td>bhattyogesh@gmail.com</td>
      </tr>
    </div>
  </div>
  <div class="footer-content">
    <p class="footer-title">ABOUT US</p>
    <div class="footer-text" style="width:70%">Threatre-Pro is one of the Cinema ticket booking site where we can book tickets of movies that are on trend and on hit</div>
  </div>
  <div class="footer-content">
    <p class="footer-title">FOLLOW US</p>
    <div style="justify-content: space-between;text-align:center">
      <a class="follow" style="color: blue;" href="https://www.facebook.com/yogesh.bhatt.1422" target="_blank"><i class="bi bi-facebook"></i></a>
      <a class="follow" style="color: #1DA1F2;" href="http://facebook.com" target="_blank"><i class="bi bi-twitter"></i></a>
      <a class="follow" style="color: rgb(0, 217, 255);" href="http://facebook.com" target="_blank"><i class="bi bi-linkedin"></i></a>
    </div>
  </div>
</div>
<div class="footer-copyright">
  Threatre-Pro site &copy;2023 by <b>Yogesh Bhatt</b>
</div>
