<div class="screen">
  SCREEN
</div>
<div id="page-wrap">
  <div class="badge">
    <h1>
      <span class="char4"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char5"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char6"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char7"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char8"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char9"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char10"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char11"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char12"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char13"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char14"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char15"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char16"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char17"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char18"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char19"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char20"><img src=".././assets/chair.png" width="20px"></span>
    </h1>
  </div>
  <div class="badge">
    <h1>
      <span class="char3"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char4"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char5"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char6"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char7"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char8"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char9"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char10"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char11"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char12"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char13"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char14"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char15"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char16"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char17"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char18"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char19"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char20"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char21"><img src=".././assets/chair.png" width="20px"></span>
    </h1>
  </div>
  <div class="badge">
    <h1>
      <span class="char3"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char4"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char5"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char6"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char7"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char8"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char9"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char10"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char11"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char12"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char13"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char14"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char15"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char16"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char17"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char18"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char19"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char20"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char21"><img src=".././assets/chair.png" width="20px"></span>
    </h1>
  </div> <div class="badge">
    <h1>
      <span class="char2"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char3"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char4"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char5"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char6"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char7"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char8"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char9"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char10"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char11"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char12"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char13"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char14"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char15"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char16"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char17"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char18"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char19"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char20"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char21"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char22"><img src=".././assets/chair.png" width="20px"></span>
    </h1>
  </div> <div class="badge">
    <h1>
      <span class="char2"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char3"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char4"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char5"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char6"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char7"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char8"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char9"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char10"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char11"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char12"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char13"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char14"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char15"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char16"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char17"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char18"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char19"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char20"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char21"><img src=".././assets/chair.png" width="20px"></span>
      <span class="char22"><img src=".././assets/chair.png" width="20px"></span>
    </h1>
  </div>
    <div class="badge">
      <h1>
        <span class="char1"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char2"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char3"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char4"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char5"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char6"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char7"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char8"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char9"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char10"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char11"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char12"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char13"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char14"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char15"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char16"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char17"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char18"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char19"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char20"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char21"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char22"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char23"><img src=".././assets/chair.png" width="20px"></span>
      </h1>
    </div>
    <div class="badge">
      <h1>
        <span class="char1"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char2"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char3"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char4"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char5"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char6"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char7"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char8"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char9"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char10"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char11"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char12"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char13"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char14"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char15"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char16"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char17"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char18"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char19"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char20"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char21"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char22"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char23"><img src=".././assets/chair.png" width="20px"></span>
      </h1>
    </div>
    <div class="badge">
      <h1>
        <span class="char1"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char2"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char3"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char4"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char5"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char6"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char7"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char8"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char9"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char10"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char11"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char12"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char13"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char14"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char15"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char16"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char17"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char18"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char19"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char20"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char21"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char22"><img src=".././assets/chair.png" width="20px"></span>
        <span class="char23"><img src=".././assets/chair.png" width="20px"></span>
      </h1>
    </div>
</div>
